<div *ngIf="showChart">
  <div class="container container-production-report">
    <div class="production-report-header">
      <div class="title">Production Report</div>
      <div class="legends">
        <div
          class="legend"
          *ngFor="let color of colChart.options.colors; let i = index"
        >
          <div
            class="indicator"
            [ngStyle]="{ 'background-color': color }"
          ></div>
          <span class="label">{{ selectedProject[i] }}</span>
        </div>
      </div>
    </div>

    <div
      class="container container-chart"
      id="container-chart"
      (resized)="onResized($event)"
    >
      <google-chart
        #gColChart
        [title]="colChart.title"
        [type]="colChart.type"
        [data]="colChart.data"
        [columns]="colChart.columnNames"
        [options]="colChart.options"
        [dynamicResize]="colChart.dynamicResize"
      >
      </google-chart>
    </div>
  </div>

  <div class="container container-other-kpi">
    <div class="other-kpi-header">
      <div class="title">Other KPIs</div>
      <div class="legends">
        <div
          class="legend"
          *ngFor="let color of colChart.options.colors; let i = index"
        >
          <div
            class="indicator"
            [ngStyle]="{ 'background-color': color }"
          ></div>
          <span class="label">{{ selectedProject[i] }}</span>
        </div>
      </div>
    </div>

    <div
      class="container container-line-chart"
      id="container-line-chart"
      (resized)="onLineChartResized($event)"
    >
      <google-chart
        #gLineChart
        [title]="lineChart.title"
        [type]="lineChart.type"
        [data]="lineChart.data"
        [columns]="lineChart.columnNames"
        [options]="lineChart.options"
        [dynamicResize]="lineChart.dynamicResize"
      >
      </google-chart>
    </div>
  </div>
</div>

<app-gauge-meter-with-odometer></app-gauge-meter-with-odometer>
<app-gauge-meter></app-gauge-meter>
<app-station-yield></app-station-yield>