<div class="steps">
  <ul>
    <li class="step-item">
      <a class="menu-item">
        <span class="step-number">12.67%</span>
        <span class="step-title">Station 1</span>
      </a>
    </li>
    <li class="step-item">
      <a class="menu-item">
        <span class="step-number">14%</span>
        <span class="step-title">Station 2</span>
      </a>
    </li>
    <li class="step-item">
      <a class="menu-item">
        <span class="step-number">16.67%</span>
        <span class="step-title">Station 3</span>
      </a>
    </li>
  </ul>
</div>
